<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="banner">
            <div class="banner__content">
            <h1 class="banner__title">Space Apps Challenge</h1>
            <p class="banner__description">The NASA Space Apps Challenge is an international hackathon that occurs over 48 hours in cities around the world. Be a part of the NASA Space Apps Challenge 2020 and join us in solving challenges to better understand our world and the universe.</p>
            <a href="https://www.spaceappschallenge.org/" class="banner__button">Learn More</a>
            </div>
        </div>
        </div>
    </div>
</div>