<div class="flex">
<aside class="w-64 h-[calc(-4rem)] bg-gray-800 text-white  top-16 left-0 static border-r-4 border-black">
    <ul>
        <li class="p-4 cursor-pointer text-justify text-white bg-sky-700 font-bold border-solid">Niveles</li>
        <li class="p-4 cursor-pointer text-center text-black font-bold border-solid hover:bg-indigo-700">
            PRINCIPIANTES</li>
        <li class="p-4 cursor-pointer text-center text-black font-bold border-solid hover:bg-indigo-700">INTERMEDIO</li>
        <li class="p-4 cursor-pointer text-center text-black font-bold border-solid hover:bg-indigo-700">AVANZADO</li>
    </ul>
     
</aside>
</div>
